body{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px ;
    margin-top: 15px;
}

.issovaipmeio {
    text-align: center;
}

.letrasproutrold{
    text-align: left;
    padding-left: 18%;

}
.compartilhar{
}